<?xml version="1.0" encoding="UTF-8"?>

<!-- https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-Ruleset -->
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
>

  <description>PHP CodeSniffer configuration for the Drupal Spec Tool.</description>

  <arg name="colors"/>
  <arg name="cache" value="var/.phpcs-cache"/>
  <arg name="parallel" value="10"/>

  <file>.</file>

  <exclude-pattern>var/</exclude-pattern>
  <exclude-pattern>vendor/</exclude-pattern>

  <rule ref="AcquiaDrupalStrict"/>

</ruleset>
